.board-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 30px 30%;
}

.square {
  border: 2px solid rgb(122, 187, 116);
  border-radius: 2px;
  margin-bottom: 2px;
}

.board-row {
  margin: 1px;
  width: 100%;
}

#title {
  font-size: 35px;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
